<%= link_to "#", class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
  <%= notification.actor.username %>
  <%= notification.action %>ed
  you
<% end %>

= content_tag :div, class: "header-nav-notifications-list-item #{"unread" if !notification.read_at?}" do
  = notification.actor.name
  = notification.action
  span you