header.header
  .header-wrapper

    / Logo
    = link_to root_path, class: 'header-logo' do
      span.site-name = t('site.name')
      = image_tag 'logo-mark.svg'

    .header-alerts
      = render 'shared/flash'

    / Header Nav
    nav.header-nav
      = link_to '/products', class: 'header-nav-btn-outline' do
        span.header-nav-btn-icon 👗
        span.header-nav-btn-text = t('.products')

      = link_to sellers_path, class: 'header-nav-btn-outline' do
        span.header-nav-btn-icon 🙋
        span.header-nav-btn-text = t('.sellers')

      - if user_signed_in?
        - if current_user.sales.count > 0
          = link_to sales_user_path(current_user), class: 'header-nav-btn-outline' do
            span.header-nav-btn-icon 💰
            span.header-nav-btn-text = t('.sales')

        - if current_user.purchases.count > 0
          = link_to purchases_user_path(current_user), class: 'header-nav-btn-outline' do
            span.header-nav-btn-icon 💃
            span.header-nav-btn-text = t('.purchases')

        - if current_user.buyer?
          = link_to t('.add_product'), become_seller_path, class: 'header-nav-btn'
        = render 'shared/header_notifications'
        - if current_user.seller? || current_user.admin?
          = link_to t('.add_product'), new_product_path, class: 'header-nav-btn'

        = link_to user_path(current_user), class: 'header-nav-user' do
          - if current_user.avatar
            = image_tag current_user.avatar_url(:thumb, public: true), class: 'header-nav-avatar'

          - else
            = current_user.first_name

      - else
        = link_to t('shared.header.sign_in_with_facebook'), user_facebook_omniauth_authorize_path, class: 'header-nav-btn'