//////////////
//  Alerts  //
//////////////

.alert {
	text-align: center;
	padding: 1rem 0;
	margin-bottom: 1rem;
	background-color: $white;
	color: $black;
	box-shadow: 0 1px 3px rgba($dark-gray, 0.1);

	&.alert-success {
		background-color: $green;
	}
}