////////////
//  Base  //
////////////

// Fix the sizing calculations
* { box-sizing: border-box; }

html {
  height: 100%;
}

body {
  width: 100%;
  background-color: $light-gray-3;
  color: $black;
  font-size: 1rem;
  font-family: $main-font;
  line-height: 1.25em;
}

// Remove underline and color from links
a {
  text-decoration: none;
  color: inherit;

  &:hover { text-decoration: underline; }
}

// Remove all styling from lists
ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Remove all styling from headings
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}