//////////////
//  Footer  //
//////////////

.footer {
  padding: 2rem;
  background-color: $white;
  color: $gray;
}

.footer-wrapper {
  @include clearfix;
  max-width: 80rem;
  margin: 0 auto 4rem auto;
  text-align: center;

  // @include min-width(40rem) {}
}

.footer-logo {
  float: none;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;

  &:hover {
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  @include min-width(40rem) {
    float: left;
    margin: 0;
  }
}

.footer-contact {
  @include clearfix;
  float: none;
  line-height: 2rem;
  font-size: 1.125rem;

  @include min-width(40rem) {
    float: right;
    margin: 0;
  }
}

.footer-contact-link {
  float: none;
  display: inline-block;
  margin: 0 1rem;

  @include min-width(40rem) {
    float: left;
  }
}

.footer-social-links {
  @include clearfix;
  float: none;
  line-height: 2rem;
  margin: 1rem auto;
  display: inline-block;

  @include min-width(40rem) {
    float: right;
    margin: 0;
  }
}

.footer-social-link {
  @include display(flex);
  float: left;
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem;
  background-color: $purple;
  border-radius: 10rem;

  img {
    display: block;
    margin: auto;
    max-width: 1rem;
    max-height: 1rem;
  }

  @include min-width(40rem) {
    margin: 0 1rem;
  }
}