/////////////
//  Forms  //
/////////////

.form {
	hr {
		border: none;
		height: 1px;
		width: 100%;
		background-color: $light-gray-2;
		margin: 1rem 0;
	}
}

// Form Group
.form-group {
	margin-bottom: 1rem;
}

.form-groups {
	@include display(flex);
	@include flex-direction(column);
	margin-bottom: 1rem;

	@include min-width(40rem) {
		@include flex-direction(row);
	}
}

.form-half-group {
	width: 100%;
	margin-bottom: 1rem;
	&:first-child { padding-right: 0; }
	&:last-child {
		padding-left: 0;
		margin-bottom: 0;
	}

	@include min-width(40rem) {
		width: 50%;
		margin-bottom: 0;
		&:first-child { padding-right: 0.5rem; }
		&:last-child { padding-left: 0.5rem; }		
	}
}

.form-errors {
	text-align: center;
	padding: 1rem;
	color: $white;
	background-color: $red;
	border-radius: 0.25rem;
	margin-bottom: 2rem;

	span { text-transform: lowercase; }
	span:first-child { text-transform: none; }
	span:after { content: ', ' }
	span:last-child:after { content: '.' }
}

.form-label,
.form-earnings-label {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.875em;
	margin-bottom: 0.25rem;
}

.form-earnings-number {
	font-weight: bold;
	color: $green;
	line-height: 1.25rem;
	display: block;
	width: 100%;
	border: 1px solid $light-gray-2;
	padding: 0.5rem 0.875rem;
	border-radius: 0.25rem;
}

.field_with_errors .form-label {
	color: $red;
}

.form-input,
.form-textarea {
	line-height: 1.25rem;
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid $light-gray-2;
	background-color: $white;
	padding: 0.5rem 0.875rem;
	border-radius: 0.25rem;

	&:focus,
	&:active {
		border-color: $blue;
	}

	@include placeholder { color: $gray; }
}

.form-select {
	width: 100%;
}

.form-file-group {
	border: 1px solid $light-gray-2;
	padding: 1rem;
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

.form-file-input {
	display: block;
	margin: 0;
}

.field_with_errors .form-input,
.field_with_errors .form-textarea {
	border-color: $red;
}

.form-textarea {
	min-height: 3rem;
	resize: none;
}

.form-btn {
	outline: none;
	text-align: center;
	display: inline-block;
	border: none;
	color: $black;
	background-color: $white;
	box-shadow: inset 0 -1px 1px rgba($black, 0.15);
	border-radius: 10rem;
	padding: 0.5rem 1.25rem;
	line-height: 1em;

	&.is-main {
		font-weight: bold;
		color: $white;
		background-image: $orange-pink-gradient;
	}

	&:hover { text-decoration: none; }
	&:active {
		position: relative;
		top: 1px;
	}

	&:disabled { opacity: 0.5; }
}

.form-link {
	color: $gray;
	line-height: 2rem;
}

.form-footer {
	@include clearfix;
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid $light-gray-2;
}

.form-checkbox-group {
	line-height: 1rem;
	padding: 0.5rem 0;
}

.form-checkbox {
	margin-right: 0.5rem;
}

.form-checkbox:checked + .form-checkbox-label {
	color: $black;
}

.form-checkbox-label {
	color: $gray;
}

.form-title {
	text-align: center;
	color: $white;
	margin: 4rem auto 2rem auto;
	max-width: 30rem;
	display: block;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -1px;

	@include min-width(40rem) {
	  font-size: 3rem;
	}
}

.form-bottom {
	text-align: center;
	padding-bottom: 3rem;
}

.form-bottom-link {
	color: $white;
	display: inline-block;
}

.form-bottom-text {
	color: $white;
	display: inline-block;
	opacity: 0.5;
}