/////////////
//  Forms  //
/////////////

.form {
	hr {
		border: none;
		height: 1px;
		width: 100%;
		background-color: $light-gray-2;
		margin: 2rem 0;
	}
}

.form-group-title {
  color: $gray;
  line-height: 1em;
  font-size: 1.25rem;
  margin: 2rem;
  text-align: center;
  font-weight: bold;

  @include min-width(40rem) {
    text-align: left;
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;

    &.is-first { margin-top: 1rem; }
  }
}

// Form Group
.form-group {
	margin-bottom: 1rem;
}

.form-groups {
	@include display(flex);
	@include flex-direction(column);
	margin-bottom: 1rem;

	@include min-width(40rem) {
		@include flex-direction(row);
	}
}

.form-half-group {
	width: 100%;
	margin-bottom: 1rem;
	&:first-child { padding-right: 0; }
	&:last-child {
		padding-left: 0;
		margin-bottom: 0;
	}

	@include min-width(40rem) {
		width: 50%;
		margin-bottom: 0;
		&:first-child { padding-right: 0.5rem; }
		&:last-child { padding-left: 0.5rem; }		
	}
}

.form-errors {
	text-align: center;
	padding: 1rem;
	color: $white;
	background-color: $red;
	border-radius: 0.25rem;
	margin-bottom: 2rem;

	span { text-transform: lowercase; }
	span:first-child { text-transform: none; }
	span:after { content: ', ' }
	span:last-child:after { content: '.' }
}

.form-label,
.form-earnings-label {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.875em;
	margin-bottom: 0.25rem;
}

.form-earnings-number {
	font-weight: 600;
  color: $green;
  line-height: 1.325rem;
  display: block;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem 0.875rem 0 0.125rem;
  border-radius: 0.25rem;
}

.field_with_errors .form-label {
	color: $red;
}

.form-credit-card {
  @include clearfix;
  line-height: 1.25rem;
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid $light-gray-2;
  padding: 1rem;
  border-radius: 0.25rem;

  // &:focus,
  // &:active {
  //   border-color: $blue;
  // }

  @include placeholder { color: $gray; }
}

.form-credit-card-number {
  font-weight: 600;
  float: left;
}

.form-credit-card-icon {
  margin-right: 0.5rem;
}

.form-credit-card-dots {
 font-size: 1.25rem; 
 margin-right: 0.5rem;
}

.form-credit-card-remove {
  float: right;
  color: $gray;
  &:hover { color: $dark-gray; }
}

.form-input,
.form-textarea {
	line-height: 1.25rem;
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid $light-gray-2;
	background-color: $white;
	padding: 0.5rem 0.875rem;
	border-radius: 0.25rem;

	&:focus,
	&:active {
		border-color: $blue;
	}

	@include placeholder { color: $gray; }
}

.form-select {
	width: 100%;
}

.form-file-group {
	// border: 1px solid $light-gray-2;
	padding: 1rem;
	// border-radius: 0.25rem;
	// margin-bottom: 1rem;
}

.form-file-input {
	display: block;
	margin: 0;
}

.field_with_errors .form-input,
.field_with_errors .form-textarea {
	border-color: $red;
}

.form-textarea {
	min-height: 5rem;
	resize: none;
}

.form-btn {
	outline: none;
	text-align: center;
	display: inline-block;
	border: none;
	color: $black;
	background-color: $white;
	box-shadow: inset 0 -1px 1px rgba($black, 0.15);
	border-radius: 10rem;
	padding: 0.5rem 1.25rem;
	line-height: 1em;

	&.is-main {
		font-weight: bold;
		color: $white;
		background-image: $orange-pink-gradient;
	}

	&:hover { text-decoration: none; }
	&:active {
		position: relative;
		top: 1px;
	}

	&:disabled { opacity: 0.5; }
}

.form-link {
	color: $gray;
	line-height: 2rem;
}

.form-footer {
	@include clearfix;
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid $light-gray-2;

  &.extra-padded {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
}

.form-checkbox-group {
	line-height: 1rem;
	padding: 0.5rem 0;
}

.form-checkbox {
	margin-right: 0.5rem;
}

.form-checkbox:checked + .form-checkbox-label {
	color: $black;
}

.form-checkbox-label {
	color: $gray;
}

.form-title {
	text-align: center;
	color: $white;
	margin: 1.5rem auto;
	max-width: 30rem;
	display: block;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -1px;

	@include min-width(40rem) {
	 	font-size: 2.5rem;
	  margin: 2rem auto;
	}

	@include min-width(60rem) {
		font-size: 3rem;
	  margin: 4rem auto 2rem auto;
	}
}

.form-bottom {
  margin-top: 2rem;
	text-align: center;
	padding-bottom: 3rem;
}

.form-bottom-link {
	color: $white;
	display: inline-block;
}

.form-bottom-text {
	color: $white;
	display: inline-block;
	opacity: 0.5;
}

///////////////////////////
//  Form Product Images  //
///////////////////////////

.form-product-images-btn-container {
  background-color: rgba($black, 0.3);
  padding: 3rem 3rem;
  max-width: 40rem;
  border-radius: 0.5rem;
  margin: 0 auto 0.5rem auto;
  text-align: center;

  @include min-width(40rem) {
    margin: 0 auto 2rem auto;
  }
}

.form-product-images-btn {
  text-align: center;
  max-width: 20rem;
  display: block;
  line-height: 1rem;
  position: relative;
  border-radius: 5rem;
  border: none;
  background-image: $orange-pink-gradient;
  font-weight: bold;
  padding: 0.75rem 0.875rem;
  font-size: 1.25rem;
  position: relative;
  z-index: 20;
  margin: 0 auto;
  color: $white;

  &:hover {
    background-image: $orange-pink-gradient-hover;
    cursor: pointer;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.form-product-images-btn-text {
  &:hover { cursor: pointer; }
}

.form-product-images-btn-input {
  opacity: 0;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  &:hover { cursor: pointer; }
}