//////////////
//  Header  //
//////////////

.header {
  background-color: $purple;
  color: $white;
  box-shadow: 0 1px 2px rgba($black, 0.2);
  padding: 1rem 2rem;
  position: relative;
  
}

.header-wrapper {
  @include display(flex);
  @include justify-content(space-between);
  @include flex-direction(column);
  max-width: 80rem;
  margin: 0 auto;

  @include min-width(40rem) {
    @include flex-direction(row);
  }
}

.header-logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;

  img {
    transform: rotate(35deg);
    position: relative;
    float: left;
    height: 1.375rem;
    display: block;
    margin: 0.15rem 0.5rem 0 0;
    opacity: 0.5;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}


// Header Alerts
.header-alerts {
  @include flex(1);
}

// Header Nav

.header-nav {
  @include align-items(center);
  @include display(flex);
  font-size: 1rem;
  line-height: 1.25rem;
}

.header-nav-link,
.header-nav-btn {
  display: flex;
  padding: 0rem 1rem;
  border-radius: 5rem;
  line-height: 2rem;

  &:active {
    position: relative;
    top: 1px;
  }
}

.header-nav-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  display: block;
}

.header-nav-btn {
  margin-left: 0;
  font-weight: bold;
  color: $white;
  background-image: $orange-pink-gradient;
  box-shadow: 0 1px 2px rgba($black, 0.1);

  &:hover {
    background-image: $orange-pink-gradient-hover;
    text-decoration: none;
  }

  @include min-width(40rem) {
    margin-left: 0.5rem;
  }
}