//////////////
//  Header  //
//////////////

.header {
	@include display(flex);
	background-color: $red;
	color: $white;
	box-shadow: 0 1px 2px rgba($black, 0.1);
	padding: 1rem 2rem;
}

.logo {
	@include align-items(center);
	@include display(flex);
	font-size: 1.25rem;
	line-height: 2rem;

	img {
		position: relative;
		float: left;
		height: 1.75rem;
		display: block;
		margin-right: 0.75rem;
	}

	&:hover {
		text-decoration: none;
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

.header-nav {
	@include flex-shrink(0);
	@include align-items(center);
	@include display(flex);
	font-size: 1rem;
	line-height: 1.25rem;
}

.header-nav-link,
.header-nav-btn {
	padding: 0rem 1rem;
	border-radius: 5rem;
	line-height: 2rem;

	&:active {
		position: relative;
		top: 1px;
	}
}

.header-nav-btn {
	font-weight: bold;
	background-color: $white;
	color: $black;
	box-shadow: 0 1px 2px rgba($black, 0.1);

	&:hover { text-decoration: none; }
}

/////////////////////
//  Header Search  //
/////////////////////

.header-search {
	@include flex(1);
	padding: 0 1.5rem;
}

.header-search-form {}
.header-search-input {
  width: 100%;
}