////////////////e
//  Home Hero  //
////////////////

.home-hero {
  // background-image: $purple-gradient;
  background-color: $purple;
  background-image: url('http://cl.ly/jaud/test_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  padding: 0 2rem;

  @include min-width(40rem) {
    padding: 3rem 2rem;
  }

  .product-image {
    max-height: 20rem;
  }

  .product-image-container {
    display: none;
    @include min-width(40rem) {
      display: block;
    }    
  }
}

.home-hero-wrapper {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 0 3rem 0;

  @include min-width(40rem) {
    @include flex-direction(row);
  }
}

.home-hero-content {
  // width: 100%;
  @include flex-shrink(2);
  padding: 1rem 0 3rem 0;

  @include min-width(40rem) {
    max-width: 35rem;
    padding: 0 4rem 0 0;
  }
}

.home-hero-product {
  max-width: 25rem;
  @include flex-shrink(1);
}

.home-hero-product-footnote {
  text-align: center;
  margin-top: 1rem;
  opacity: 0.9;
}

.home-hero-title {
  // max-width: 50rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;

  @include min-width(40rem) {
    font-size: 3rem;
  }
}

.home-hero-subtitle {
  margin-top: 1rem;
  // max-width: 40rem;
  font-size: 1.25rem;
  line-height: 1.25em;
  font-weight: 300;
  opacity: 0.9;

  @include min-width(40rem) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.home-hero-buttons {
  margin-top: 2rem;
}

.home-hero-main-btn {
  display: inline-block;
  background-image: $orange-pink-gradient;
  color: $white;
  border-radius: 10rem;
  font-weight: 700;
  padding: 0.5em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 1.25rem;

  &:hover {
    background-image: $orange-pink-gradient-hover;
    text-decoration: none;
  }
}

.home-hero-outline-btn {
  display: inline-block;
  background-color: transparent;
  color: $white;
  border: 1px solid rgba($white, 0.5);
  border-radius: 10rem;
  padding: 0.5em 1em;
  font-size: 1.25rem;

  &:hover {
    text-decoration: none;
    border-color: $white;
  }
}
