//////////////
//  Layout  //
//////////////

.container { padding: 1rem; }

.main {
  @include clearfix;
  padding: 1rem 0;
	background-color: $light-gray-3;
  background-image: image-url('bg-pattern.jpg');
  background-size: 442px 465px;
  // background-attachment: fixed; 
}

.sidebar {
	width: 25%;
	margin-right: 0.5rem;
}

.wrapper {
	@include clearfix;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

.is-hidden {
	display: none;
}