//////////////
//  Layout  //
//////////////

.container { padding: 1rem; }

.main {
	@include flex(1);
}

.sidebar {
	width: 25%;
	margin-right: 0.5rem;
}

.wrapper {
	@include clearfix;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}