/////////////
//  Modal  //
/////////////

.has-modal {
  overflow-y: hidden;
}

.modal-overlay {
  position: fixed;
  overflow: scroll;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-gray, 0.9);
  padding: 1rem;

  &.is-hidden {
    display: none;
  }
}

.modal {
  max-width: 40rem;
  margin: 2rem auto;
}