//////////////////////
//  Single Product  //
//////////////////////

.single-product {
  // max-width: 30rem;
  // margin: 0 auto;

  .product-info { padding-bottom: 1.5rem; }

  .product {
    max-width: 40rem;
    margin: 0 auto;
  }

  // Product Images

  .product-images {
    @include clearfix;
    max-width: 60rem;
    margin: 0 auto 0.5rem auto;

    @include min-width(40rem) {
      margin: 0 auto 1rem auto;      
    }
  }

  .product-image-container {
    float: left;
    width: 50%;
  }

  .product-image {
    transition: all 0.1s ease-in-out;
    border-radius: 0.5rem;
    display: block;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:hover {
      transform: scale(1.02);
    }

    @include min-width(60rem) {
      height: 40rem;
    }
  }

  .product-images[data-images-count='1'] {
    max-width: 30rem;
    .product-image-container { width: 100%; }
  }

  .product-images[data-images-count='2'] {
    .product-image-container[data-image='1'] { padding: 0 0.5rem 0 0; }
    .product-image-container[data-image='2'] { padding: 0 0 0 0.5rem; }
  }

  .product-images[data-images-count='3'] {
    .product-image-container[data-image='1'] { padding: 0 0.5rem 0 0; }
    .product-image-container[data-image='2'],
    .product-image-container[data-image='3'] {
      .product-image {
        height: 14.5rem;
        @include min-width(60rem) { height: 19.5rem; }
      }
    }
    .product-image-container[data-image='2'] { padding: 0 0 0.5rem 0.5rem; }
    .product-image-container[data-image='3'] { padding: 0.5rem 0 0 0.5rem; }
  }

  .product-images[data-images-count='4'] {
    .product-image-container[data-image='1'] { padding: 0 0.5rem 0 0; }
    .product-image-container[data-image='2'],
    .product-image-container[data-image='3'],
    .product-image-container[data-image='4'] {
      .product-image {
        height: 14.5rem;
        @include min-width(60rem) { height: 19.5rem; }
      }
    }

    .product-image-container[data-image='3'],
    .product-image-container[data-image='4'] {
      width: 25%;
    }

    .product-image-container[data-image='2'] { padding: 0 0 0.5rem 0.5rem; }
    .product-image-container[data-image='3'] { padding: 0.5rem 0.5rem 0 0.5rem; }
    .product-image-container[data-image='4'] { padding: 0.5rem 0 0 0.5rem; }
  }


  .product-images[data-images-count='5'] {
    .product-image {}
  }

  // Product Owner

  .product-owner {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    background-color: $white;
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 40rem;
    padding: 2rem;
  }

  .product-actions {
    a { margin-right: 1rem; }
  }

  .product-views {
    @include display(flex);
    @include align-items(center);
  }

  .product-views-count {}
  .product-views-count-number {
    font-size: 1.5rem;
  }

  .product-views-count-label {
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $gray;
  }

  // Product Seller

  .product-seller {
    @include display(flex);
    @include flex-direction(column);
    background-color: $white;
    border-radius: 0.5rem;
    margin: 0.5rem auto;
    max-width: 40rem;
    padding: 1.25rem;

    @include min-width(30rem) {
      padding: 2rem;
    }

    @include min-width(40rem) {
      @include flex-direction(row);
      margin: 1rem auto;
    }
  }

  .product-seller-overview {
    @include flex(1);
    @include clearfix;
  }

  .product-seller-photo {
    float: left;
    margin-right: 1rem;

    img {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 10rem;
    }
  }

  .product-seller-info {
    float: left;
  }

  .product-seller-name {
    font-size: 1.25rem;
    display: block;
    font-weight: bold;
    margin: 0.25rem 0 0.5rem 0;
    &:hover { text-decoration: none; }
  }

  .product-seller-relationship-btn {
    .btn-main {
      border: none;
      display: block;
      font-weight: bold;
      background-color: $green;
      color: $white;
      outline: none;
      border-radius: 10rem;
      text-align: center;
      line-height: 1em;
      padding: 0.5rem 1.25rem;
      font-size: 0.875rem;

      &:hover {
        text-decoration: none;
        background-color: darken($green, 5);
      }
    }

    .btn-outline {
      background-color: transparent;
      outline: none;
      border-radius: 10rem;
      border: 1px solid rgba($gray, 0.5);
      text-align: center;
      line-height: 1em;
      padding: 0.5rem 1.25rem;
      font-size: 0.875rem;
      color: $dark-gray;

      &:hover {
        text-decoration: none;
        border: 1px solid $gray;
      }
    }
  }

  .product-seller-stats {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    border-top: 1px solid $light-gray-2;
    padding-top: 1rem;
    margin-top: 1rem;

    @include min-width(40rem) {
      @include justify-content(flex-start);
      border-top: none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .product-seller-stat {
    text-align: left;
    margin: 0 1rem;

    @include min-width(40rem) {
      text-align: right;
    }
  }

  .product-seller-stat-number {
    font-size: 1.5rem;
  }

  .product-seller-stat-name {
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $gray;
  }
}

////////////////////
//  Feed Product  //
////////////////////

.feed-product {

  // Product Image

  .product-image-container {
    position: relative;
    display: block;
  }

  .product-image {
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background(linear-gradient(
        rgba($black, 0)   60%, 
        rgba($black, 0.2) 80%, 
        rgba($black, 0.75))
      );
    }
  }

  // Product Seller

  .product-seller {
    @include clearfix;
    display: block;
    position: absolute;
    z-index: 20;
    float: left;
    bottom: 1rem;
    left: 1.25rem;

    @include min-width(30rem) {
      bottom: 1.5rem;
      left: 2rem;
    }
  }

  .product-seller-photo {
    float: left;
    margin-right: 0.75rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
  }

  .product-seller-name {
    color: $white;
    font-weight: bold;
    float: left;
    line-height: 2em;
  }

}

///////////////
//  Product  //
///////////////

.product {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 1px 3px rgba($dark-gray, 0.1);
}

// Product Info

.product-info {
  padding: 1.25rem;

  @include min-width(30rem) {
    padding: 2rem;
  }
}

// Product Header

.product-info-header {
  @include display(flex);
  @include align-items(flex-start);
  margin-bottom: 0.5rem;
}

.product-title {
  @include flex(1);
  color: $black;
  font-size: 1.325rem;
  font-weight: bold;
  line-height: 1em;
  &:hover { text-decoration: none; }
}

.product-size {
  font-weight: normal;
  margin-left: 0.75rem;
  font-size: 1.125rem;
  opacity: 0.5;
}

.product-outline-btn {
  float: left;
  border: 1px solid rgba($gray, 0.5);
  color: $dark-gray;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  line-height: 1em;

  &:hover {
    text-decoration: none;
    border-color: $dark-gray;
  }
}

.product-main-btn {
  @include transition(all, 0.2s);
  margin-right: 1rem;
  float: left;
  color: $white;
  background-image: $orange-pink-gradient;
  box-shadow: inset 0 -1px 1px rgba($black, 0.15);
  border-radius: 10rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  line-height: 1em;

  .price {
    opacity: 0.75;
    padding-left: 0.25rem;
    float: left;
  }

  &:hover {
    background-image: $orange-pink-gradient-hover;
  }

  strong {
    font-weight: bold;
    float: left;
  }

}

.btn-line {
  display: inline-block;
  height: 2px;
  width: 8px;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 0.45rem 0.2rem 0 0.4rem;
  float: left;
}

.product-facebook-btn {
  float: left;
  background-color: $purple;
  color: $white;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  line-height: 1em;

  &:hover {
    text-decoration: none;
    background-color: darken($purple, 5);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

a.product-main-btn {
  &:hover {
    text-decoration: none;
    background-color: darken($red, 3);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

// Product Description

.product-description {
  margin-bottom: 1rem;
  color: $dark-gray;
}

.product-hashtag {
  font-weight: bold;
  background-color: $light-gray;
  padding: 0 0.25rem;
  margin: 0 0.125rem;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: darken($light-gray, 3);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

// Product Footer

.product-info-footer {
  @include clearfix;
  margin-top: 1.25rem;
}

// Product Meta

.product-meta {
  @include clearfix;
  float: right;
}

.product-meta-btn-container {
  @include clearfix;
  float: left;
}

.product-meta-btn {
  @include clearfix;
  float: left;
  color: $black;
  background-color: $light-gray;
  margin-left: 0.75rem;
  border-radius: 10rem;
  padding: 0.5rem 0.75rem;
}

a.product-meta-btn:hover { background-color: darken($light-gray, 3); }
a.product-meta-btn:active {
  position: relative;
  top: 1px;
}

.product-meta-btn-count {
  position: relative;
  top: 1px;
  float: left;
  margin-right: 0.325rem;
  line-height: 1em;
  font-weight: bold;
}

.product-meta-btn-icon {
  float: left;
  color: $gray;
  svg { display: block; }
  &.is-liked { color: $red; }
}

////////////////////////
//  Product Comments  //
////////////////////////

.product-comments-container {
  box-shadow: inset 0 1px 0 rgba($black, 0.05);
  background-color: rgba($light-gray, 0.5);
  padding: 1rem 1.25rem 1.25rem 1.25rem;

  @include min-width(30rem) {
    padding: 1rem 2rem 1.25rem 2rem;
  }
}

.product-comments {}

// Product Comment

.product-comment {
  color: $dark-gray;
  margin: 0.75rem 0;

  &:last-child {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $light-gray-2;
    padding-bottom: 1.25rem;
  }
}

.product-comment-user-photo {
  float: left;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3rem;
}

.product-comment-body {
  @include clearfix;
  margin-left: 1.75rem;
}

.product-comment-user-name {
  font-weight: bold;
  color: $black;
  margin-right: 0.5rem;
}

.product-comment-delete-btn {
  float: right;
  color: $dark-gray;
  opacity: 0.5;
  padding: 0 0.5rem;
  &:hover { opacity: 1; }
}

// Product Comments CTA

.product-comments-cta {
  padding: 0.5rem 0;
  color: $gray;
  a {
    color: $dark-gray;
  }
}

// Product Comment Form

.product-comment-form {
  @include display(flex);
}

.product-comment-form-user-photo {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3rem;
  margin: 0.5rem 0.5rem 0 0 ;
}

.product-comment-form-icon {
  color: $gray;
  width: 1.25rem;
  margin: 0.675rem 0.5rem 0 0;
}

.product-comment-form-input {
  @include flex(1);
  display: block;
  line-height: 1.25rem;
  padding: 0.5rem 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;

  @include placeholder {
    color: $gray;
  }
}