//////////////////////
//  Single Product  //
//////////////////////

.single-product {
	max-width: 30rem;
	margin: 0 auto;

	.product-info { padding-bottom: 1.5rem; }
}

.feed-product {}

///////////////
//  Product  //
///////////////

.product {
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: $white;
	box-shadow: 0 1px 3px rgba($dark-gray, 0.1);
}

// Product Image

.product-image-container {
	position: relative;
	display: block;
}

.product-image {
	display: block;
	border-radius: 0.5rem 0.5rem 0 0;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include background(linear-gradient(
			rgba($black, 0) 	60%, 
			rgba($black, 0.2) 80%, 
			rgba($black, 0.75))
		);
	}
}

// Product Seller

.product-seller {
	@include clearfix;
	display: block;
	position: absolute;
	z-index: 20;
	float: left;
	bottom: 1.5rem;
	left: 2rem;
}

.product-seller-photo {
	float: left;
	margin-right: 0.75rem;
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
}

.product-seller-name {
	color: $white;
	font-weight: bold;
	float: left;
	line-height: 2em;
}

// Product Info

.product-info {
	padding: 2rem;
}

// Product Header

.product-info-header {
	@include display(flex);
	@include align-items(flex-start);
	margin-bottom: 0.5rem;
}

.product-title {
	@include flex(1);
	font-size: 1.325rem;
	font-weight: bold;
	line-height: 1em;
	&:hover { text-decoration: none; }
}

.product-outline-btn {
	float: left;
	border: 1px solid rgba($gray, 0.5);
	color: $gray;
	border-radius: 10rem;
	padding: 0.5rem 0.75rem;
	line-height: 1em;

	&:hover {
		text-decoration: none;
		border-color: rgba($gray, 0.9);
	}
}

.product-buy-btn {
	float: left;
	color: $white;
	background-color: $red;
	box-shadow: inset 0 -1px 1px rgba($black, 0.15);
	border-radius: 10rem;
	padding: 0.5rem 0.75rem;
	text-transform: uppercase;
	line-height: 1em;

	.price {
		opacity: 0.75;
		padding-left: 0.25rem;
	}

	strong { font-weight: bold; }

	&:hover {
		text-decoration: none;
		background-color: darken($red, 3);
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

// Product Description

.product-description {
	margin-bottom: 1rem;
	color: $dark-gray;
}

.product-hashtag {
	font-weight: bold;
	background-color: $light-gray;
	padding: 0 0.25rem;
	margin: 0 0.125rem;
	display: inline-block;
	white-space: nowrap;

	&:hover {
		text-decoration: none;
		background-color: darken($light-gray, 3);
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

// Product Footer

.product-info-footer {
	@include clearfix;
	margin-top: 1.25rem;
}

// Product Meta

.product-meta {
	@include clearfix;
	float: right;
}

.product-meta-btn-container {
	@include clearfix;
	float: left;
}

.product-meta-btn {
	@include clearfix;
	float: left;
	background-color: $light-gray;
	margin-left: 0.75rem;
	border-radius: 10rem;
	padding: 0.5rem 0.75rem;
}

a.product-meta-btn:hover { background-color: darken($light-gray, 3); }
a.product-meta-btn:active {
	position: relative;
	top: 1px;
}

.product-meta-btn-count {
	position: relative;
	top: 1px;
	float: left;
	margin-right: 0.325rem;
	line-height: 1em;
	font-weight: bold;
}

.product-meta-btn-icon {
	float: left;
	color: $gray;
	svg { display: block; }
	&.is-liked { color: $red; }
}

////////////////////////
//  Product Comments  //
////////////////////////

.product-comments-container {
	box-shadow: inset 0 1px 0 rgba($black, 0.05);
	background-color: rgba($light-gray, 0.5);
	padding: 1rem 2rem 1.25rem 2rem;
}

.product-comments {}

// Product Comment

.product-comment {
	color: $dark-gray;
	margin: 0.75rem 0;

	&:last-child {
		margin-bottom: 0.5rem;
		border-bottom: 1px solid $light-gray-2;
		padding-bottom: 1.25rem;
	}
}

.product-comment-user-photo {
	float: left;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 3rem;
}

.product-comment-body {
	@include clearfix;
	margin-left: 1.75rem;
}

.product-comment-user-name {
	font-weight: bold;
	color: $black;
	margin-right: 0.5rem;
}

.product-comment-delete-btn {
	float: right;
	color: $dark-gray;
	opacity: 0.5;
	padding: 0 0.5rem;
	&:hover { opacity: 1; }
}

// Product Comments CTA

.product-comments-cta {
	padding: 0.5rem 0;
	color: $gray;
	a {
		color: $dark-gray;
	}
}

// Product Comment Form

.product-comment-form {
	@include display(flex);
}

.product-comment-form-user-photo {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 3rem;
	margin: 0.5rem 0.5rem 0 0 ;
}

.product-comment-form-icon {
	color: $gray;
	width: 1.25rem;
	margin: 0.675rem 0.5rem 0 0;
}

.product-comment-form-input {
	@include flex(1);
	display: block;
	line-height: 1.25rem;
	padding: 0.5rem 0;
	background-color: transparent;
	resize: none;
	outline: none;
	border: none;

	@include placeholder {
		color: $gray;
	}
}