/////////////////
//  Variables  //
/////////////////

// Fonts
$main-font: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', sans-serif;

//  Colors
$black: #111111;
$white: #ffffff;

$light-gray: #f0f2f5;
$light-gray-2: #e1e1e2;
$light-gray-3: #ededf2;
$gray: #b0afb7;
$dark-gray: #61656d;

$green: #00b068;
$red: #eb410d;
// $purple: #6c38a0;
$purple: #522992;
$dark-purple: darken($purple, 10);

$blue: #0099e5;
// $facebook-blue: #3b5998;

$purple-gradient: linear-gradient(to bottom, $purple, $dark-purple);

$orange-pink-gradient: linear-gradient(to right, #f64f48, #fca335);
$orange-pink-gradient-hover: linear-gradient(to right, darken(#f64f48, 7), darken(#fca335, 7));

// Bezier
$bezier: cubic-bezier(.175, .885, .32, 1.275);

// Mixins
@mixin min-width($breaking-point) {
  @media only screen and (min-width: $breaking-point) {
    @content;
  }
}

// Animations
@keyframes heartPulse {
  0% { transform: scale(1); }
  115% { transform: scale(0.9); }
  50% { transform: scale(1.5); }
}

@keyframes fadeIn {
  from  { opacity: 0; }
  to    { opacity: 1; }
}

///////////////
//  Imports  //
///////////////

// Assets
@import 'bourbon';

// Partials
@import 'partials/fonts';
@import 'partials/normalize';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/forms';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/alerts';
@import 'partials/product';
@import 'partials/grid';
@import 'partials/modal';
@import 'partials/cards';
@import 'partials/user_card';
@import 'partials/home_hero';
@import 'partials/signup_cta';
@import 'partials/transactions';
@import 'partials/category_nav';
@import 'partials/secondary_nav';
@import 'partials/select';

@import 'lib/swipebox';

.emoji {
	height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.animate-pulse {
	@include animation(heartPulse .25s $bezier both);
}

.fade-in {
  @include animation(fadeIn 2s);
}

.box {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 1px 3px rgba($dark-gray, 0.1);
  padding: 2rem;
  max-width: 30rem;
  margin: 2rem auto;
}

.pull-left { float: left; }
.pull-right { float: right; }

.progress {
  background-color: $white;
  width: 100%;
}

.progress-bar {
  height: 10px;
  background-image: $orange-pink-gradient;
}