/////////////////
//  Variables  //
/////////////////

// Fonts
$main-font: 'Helvetica Neue', sans-serif;

//  Colors
$black: #000000;
$white: #ffffff;

$light-gray: #f0f2f5;
$light-gray-2: #e1e1e2;
$gray: #b7b8ba;
$dark-gray: #61656d;

$green: #00b068;
$red: #eb410d;

@mixin min-width($breaking-point) {
  @media only screen and (min-width: $breaking-point) {
    @content;
  }
}

///////////////
//  Imports  //
///////////////

// Assets
@import 'bourbon';

// Partials
@import 'partials/normalize';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/modal';

////////////////////////
//  Temporary Styles  //
////////////////////////

//////////////
//  Header  //
//////////////

.header {
	background-color: $white;
	box-shadow: 0 1px 2px rgba($black, 0.1);
	padding: 1.5rem 0;
	margin-bottom: 1rem;

	.wrapper { padding: 0 1.5rem; }
}

.logo {
	float: left;
	font-size: 1.25rem;
	line-height: 1em;
}

.header-nav {
	@include clearfix;
	float: right;
	font-size: 1rem;
	line-height: 1.25rem;
}

.header-nav-link {
	float: left;
	margin-left: 1.5rem;
	padding: 0.25rem 0;

	&:first-child { margin-left: 0; }
	&:active {
		position: relative;
		top: 1px;
	}
}


.grid {
	@include display(flex);
	@include flex-wrap(wrap);
	@include align-items(center);
	
	.grid-item {
		width: 100%;
		padding: 0.5rem 1rem;

		@include min-width(40rem) {
			padding: 0.5rem;
			width: 50%;
		}
	}
}

//////////////////////
//  Single Product  //
//////////////////////

.single-product {
	.product-info {
		padding: 2.5rem 2.5rem 1.25rem 2.5rem;
	}
}

///////////////
//  Product  //
///////////////

.product {
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: $white;
	box-shadow: 0 1px 2px rgba($black, 0.1);
}

// Product Image

.product-image {
	position: relative;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

// Product Info

.product-info {
	padding: 2rem;
}

// Product Header

.product-info-header {
	@include display(flex);
	@include align-items(flex-start);
	margin-bottom: 1rem;
}

.product-title {
	@include flex(1);
	margin-right: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1em;
}

.product-buy-btn {
	color: $white;
	background-color: $green;
	box-shadow: inset 0 -1px 0 rgba($black, 0.1);
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	text-transform: uppercase;
	line-height: 1em;

	.dot, .price { opacity: 0.75; }
	strong { font-weight: bold; }
	&:hover { text-decoration: none; }
}

// Product Description

.product-description {
	margin-bottom: 1rem;
}

.product-hashtag {
	font-weight: bold;
	background-color: $light-gray;
	padding: 0 0.25rem;
	margin: 0 0.125rem;
}

// Product Footer

.product-info-footer {
	@include clearfix;
	margin-top: 1.25rem;
	border-top: 1px solid $light-gray-2;
	padding-top: 1.25rem;
}

// Product Seller

.product-seller {
	@include clearfix;
	float: left;
}

.product-seller-photo {
	float: left;
	margin-right: 0.75rem;
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
}

.product-seller-info {
	float: left;
	line-height: 1em;
}

.product-seller-name {
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.125rem;
}

.product-seller-username {
	color: $dark-gray;
	line-height: 1em;
}

// Product Meta

.product-meta {
	@include clearfix;
	float: right;
}

.product-meta-btn-container {
	@include clearfix;
	float: left;
}

.product-meta-btn {
	@include clearfix;
	float: left;
	background-color: $light-gray;
	margin-left: 1rem;
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
}

.product-meta-btn-count {
	float: left;
	margin-right: 0.5rem;
	line-height: 1em;
	font-weight: bold;
}

.product-meta-btn-icon {
	float: left;
	color: $gray;
	svg { display: block; }
	&.is-liked { color: $red; }
}

////////////////////////
//  Product Comments  //
////////////////////////

.product-comments-container {
	background-color: rgba($light-gray, 0.5);
	padding: 1rem 2.5rem 1.25rem 2.5rem;
}

.product-comments {}

// Product Comment

.product-comment {
	margin: 0.75rem 0;

	&:last-child {
		margin-bottom: 0.5rem;
		border-bottom: 1px solid $light-gray-2;
		padding-bottom: 1.25rem;
	}
}

.product-comment-user-photo {
	float: left;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 3rem;
}

.product-comment-body {
	@include clearfix;
	margin-left: 1.75rem;
}

.product-comment-user-name {
	font-weight: bold;
	color: $black;
	margin-right: 0.5rem;
}

.product-comment-delete-btn {
	float: right;
	color: $dark-gray;
	opacity: 0.5;
	&:hover { opacity: 1; }
}

// Product Comments CTA

.product-comments-cta {
	padding: 0.5rem 0;
	a { font-weight: bold; }
}

// Product Comment Form

.product-comment-form {
	@include display(flex);
}

.product-comment-form-user-photo {
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 3rem;
	margin: 0.5rem 0.5rem 0 0 ;
}

.product-comment-form-icon {
	color: $gray;
	width: 1.25rem;
	margin: 0.675rem 0.5rem 0 0;
}

.product-comment-form-input {
	@include flex(1);
	display: block;
	height: auto;
	padding: 0.5rem 0;
	background-color: transparent;
	color: $dark-gray;
	resize: none;
	outline: none;
	border: none;

	@include placeholder {
		color: $gray;
	}
}