- if user_signed_in? && current_user.admin?
  = render 'shared/secondary_nav'
- else
  = render 'shared/home_hero', product: @products.last

.main
  .grid#grid.is-loading
  	- @products.each do |product|
  		.grid-item
  			= render 'products/feed_product', product: product

javascript:
	$('#grid').imagesLoaded( function() {

		function getWindowWidth() {
      return Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
    }
		
		$('#grid').wookmark({
		  itemWidth: function () {
        return getWindowWidth() < 480 ? 300 : 360;
      },
		  offset: 0,
		  flexibleWidth: function () {
        return getWindowWidth() < 480 ? '100%' : 480;
      }
		});

		$('#grid').removeClass('is-loading');
	});